<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Url:</b>
  <%= @song.url %>
</p>

<p>
  <b>Grooveshark song:</b>
  <%= @song.grooveshark_song_id %>
</p>

<%= render 'embedded_player', :song => @song %>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
