<%= form_for(@jukebox) do |f| %>
  <% if @jukebox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jukebox.errors.count, "error") %> prohibited this jukebox from being saved:</h2>

      <ul>
      <% @jukebox.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :dashboard_id %><br />
    <%= f.text_field :dashboard_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
