<h1>Listing jukeboxes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Dashboard</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jukeboxes.each do |jukebox| %>
  <tr>
    <td><%= jukebox.name %></td>
    <td><%= jukebox.url %></td>
    <td><%= jukebox.dashboard_id %></td>
    <td><%= link_to 'Show', jukebox %></td>
    <td><%= link_to 'Edit', edit_jukebox_path(jukebox) %></td>
    <td><%= link_to 'Destroy', jukebox, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jukebox', new_jukebox_path %>
