
<div id="lifeLine"><div class="llTop"></div><div class="llLine"></div></div>

<ul class="tasks">
    <% if signed_in? %>
      <li>User logged in as <%= current_user.name %></li>
    <% else %>
      <li>User not signed in</li>
    <% end %>
    <li>Record votes</li>
    <li>Smiley slider</li   >
   <li> Login with Facebook</li> 
    <li>Drag and drop widgets</li>
    <li>Mobile site</li>
    <li>play music</li>
    <li>QR code to launch site on phone</li>
</ul>



<%= render @jukebox %>
<%= render @songs %>
<!-- / Jukebox code -->

<h2>Here's some random shit:</h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dashboard.name %>
</p>

<p>
  <b>Url:</b>
  <%= @dashboard.url %>
</p>

<p>
  <b>User:</b>
  <%= @dashboard.user_id %>
</p>

<p>
  <b>Lat:</b>
  <%= @dashboard.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @dashboard.lng %>
</p>

<p>
  <b>Radius:</b>
  <%= @dashboard.radius %>
</p>


<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>


<script type="text/javascript">
// Fuck namespacing
function setSongPercent (songDOM, percent) {
    var $song = $(songDOM);
    //Set % text
    $song.find("div.progBar span").text(percent+"%");
    
    //Set length of progressbar
    $song.find("div.progBar").css("width", (percent+"%"));    
}
function updatePerc() {
    //Grab current state of all songs
    $.get("/songs", 
        function(data) {
            var totalVotes = 0;
        //Grab total votes
        for(var i=0,l=data.length;i<l;i++) {
            totalVotes += data[i].votes.length
        }

        // update Songs 
        for(var i=0;i<l;i++) {
            var perc = (data[i].votes.length/totalVotes)*100;
            setSongPercent($("#song"+data[i].id).eq(0), perc);
        }

        }, 
    "json")
    setTimeout(updatePerc, 1000)
}
$(function () {
    //voting
    $("div.votingSong").click(function() {
        $.post("/votes", { "vote[user_id]": 2, "vote[song_id]": $(this).attr("id").replace("song","") });
        return false;
    })
    
    
    // Request to update numbers
    updatePerc()
    
    //Countdown timer until song changes
    var totalTime = 10,
        endTime = new Date(),
        $timer = $("#countdown");
    endTime.setSeconds(endTime.getSeconds() + totalTime);
        
        
    (function countDown() {
        var now = new Date(),
            timeLeft = Math.floor((endTime-now)/1000),
            formatted = timeLeft < 10 ? timeLeft < 0 ? "00": "0"+timeLeft : timeLeft;
        $timer.text("00:"+formatted);
            
        if(endTime - now < 0) {
            return;
        } else {
            setTimeout(countDown, 100)
        }
    })()    
    
    
})

</script>
