
<div id="lifeLine"><div class="llTop"></div><div class="llLine"></div></div>

<ul class="tasks">
    <li>Record votes</li>
    <li>Smiley slider</li   >
   <li> Login with Facebook</li> 
    <li>Drag and drop widgets</li>
    <li>Mobile site</li>
    <li>play music</li>
    <li>QR code to launch site on phone</li>
</ul>


<%= render @jukebox %>


**<%= render @songs %>**
<div id="song" class="votingSong">
    <div class="album_art"></div>
    <div class="album_info">
        <h2><h2>  
    </div>    
    <div class="votes">
        <div class="progBar"><span>0%</span></div>
    </div>
</div>



<div id="song2" class="votingSong">
    <div class="album_art"></div>
    <div class="album_info">
        <h2>Song 2<h2>
        Artist 2        
    </div>    
    <div class="votes">
        <div class="progBar"><span>0%</span></div>
    </div>
</div>

<div id="song3" class="votingSong">
    <div class="album_art"></div>
    <div class="album_info">
        <h2>Song 3<h2>
        Artist 3        
    </div>    
    <div class="votes">
        <div class="progBar"><span>0%</span></div>
    </div>
</div>
<p id="notice"><%= notice %></p>

<h2>Here's some random shit:</h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dashboard.name %>
</p>

<p>
  <b>Url:</b>
  <%= @dashboard.url %>
</p>

<p>
  <b>User:</b>
  <%= @dashboard.user_id %>
</p>

<p>
  <b>Lat:</b>
  <%= @dashboard.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @dashboard.lng %>
</p>

<p>
  <b>Radius:</b>
  <%= @dashboard.radius %>
</p>


<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>


<script type="text/javascript">
$(function () {
    //Countdown timer until song changes
    var totalTime = 10,
        endTime = new Date(),
        $timer = $("#countdown");
    endTime.setSeconds(endTime.getSeconds() + totalTime);
        
        
    (function countDown() {
        var now = new Date(),
            timeLeft = Math.floor((endTime-now)/1000),
            formatted = timeLeft < 10 ? timeLeft < 0 ? "00": "0"+timeLeft : timeLeft;
        $timer.text("00:"+formatted);
            
        if(endTime - now < 0) {
            return;
        } else {
            setTimeout(countDown, 100)
        }
    })()    
    
    
})

</script>
