<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dashboard.name %>
</p>

<p>
  <b>Url:</b>
  <%= @dashboard.url %>
</p>

<p>
  <b>User:</b>
  <%= @dashboard.user_id %>
</p>

<p>
  <b>Lat:</b>
  <%= @dashboard.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @dashboard.lng %>
</p>

<p>
  <b>Radius:</b>
  <%= @dashboard.radius %>
</p>


<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>
