<h1>Listing smileys</h1>

<table>
  <tr>
    <th>User</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @smileys.each do |smiley| %>
  <tr>
    <td><%= smiley.user_id %></td>
    <td><%= smiley.value %></td>
    <td><%= link_to 'Show', smiley %></td>
    <td><%= link_to 'Edit', edit_smiley_path(smiley) %></td>
    <td><%= link_to 'Destroy', smiley, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Smiley', new_smiley_path %>
