<!DOCTYPE html> 
<html> 

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Single page template</title> 
	  <%= stylesheet_link_tag "jqm.min.css",'mobile.css' %>
	  <%= javascript_include_tag :defaults %>
      <%= javascript_include_tag "smiley", "jqm.min.js" %>
      <%= csrf_meta_tag %>
      <script type="text/javascript">
            function loadSmiley() {
                var s = new SmileySlider(document.getElementById("slider"))

                s.position(0) // make it sad
                s.position(1) // make it happy

                var p = s.position() // get it's position
                s.position(p / 2) // make it half as happy
                
                //function when it changes
                s.position(function (p) {})
                
                
                $(s).bind("MOVED", function(e,d) {
                    $.post("/smileys", 
                        {"smiley[value]":(d*100)}
                    )
                })
                    // do something when it changes
                    // $.post("/smileys", 
                    //                         {"smiley[value]":(p*100)});
                    //                     })
            }
        </script>
</head> 

<body onload="loadSmiley()"> 

<div data-role="page">
	<div data-role="header">
		<h1>YC Coffee House</h1>
	</div><!-- /header -->
	<div data-role="content">	
	    <%= yield %>
	    <div data-role="collapsible" data-collapsed="false" data-theme="b">
           <h3>How are you feeling?</h3>
           <div id="slider"></div>
        </div>
	</div><!-- /content -->
	<div data-role="footer">
		<h4>Footer content</h4>
	</div><!-- /footer -->
</div><!-- /page -->

</body>
</html>

